<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<footer class="bg-[#0a1930] text-center dark:bg-neutral-700 lg:text-left">
	<div class="p-4 text-center text-neutral-300 dark:text-neutral-200">
		© 2024 Copyright:
		<a class="text-neutral-300 dark:text-neutral-400" href="https://tw-elements.com/">Symblog</a>
	</div>
</footer>
